# This file contains common pin mappings for Re-Arm. To use this
# config, the firmware should be compiled for the LPC176x.

# The "make flash" command does not work on the Re-Arm.  Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the Re-Arm
# with that SD card.

# See the example.cfg file for a description of available parameters.

[stepper_a]
step_pin: P2.1
dir_pin: !P0.11
enable_pin: !P0.10
step_distance: .0125
endstop_pin: ^P1.24
#endstop_pin: ^P1.25
homing_speed: 50

# The next parameter needs to be adjusted for
# your printer. You may want to start with 280
# and meassure the distance from nozzle to bed.
# This value then needs to be added.
#position_endstop: 295.6
#position_endstop: 280
#arm_length: 265

# The stepper_y section is used to describe the Y axis as well as the
# stepper controlling the X-Y movement.
[stepper_b]
step_pin: P2.2
dir_pin: !P0.20
enable_pin: !P0.19
step_distance: .0125
endstop_pin: ^P1.26
#endstop_pin: ^P1.27

[stepper_c]
step_pin: P2.3
dir_pin: P0.22
enable_pin: !P0.21
step_distance: .0125
endstop_pin: ^P1.29
#endstop_pin: ^P1.28

[extruder]
step_pin: P2.0
dir_pin: P0.5
enable_pin: !P0.4
step_distance: .0011365
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 250

max_extrude_cross_section: 999
max_extrude_only_distance: 999

#[extruder1]
#step_pin: P2.8
#dir_pin: P2.13
#enable_pin: !P4.29
#heater_pin: P2.4
#sensor_pin: P0.25
#...

[heater_bed]
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: P2.4

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[printer]
kinematics: delta
max_velocity: 500
max_accel: 3000
max_z_velocity: 200
#delta_radius: 115
# if you want to DELTA_CALIBRATE you may need that
minimum_z_position: -5


# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
# Re-Arm will only work with this type of display
#[display]
#lcd_type: st7920
#cs_pin: P0.16
#sclk_pin: P0.15
#sid_pin: P0.18
#encoder_pins: ^P3.25, ^P3.26
#click_pin: ^!P2.11
#kill_pin: ^!P1.22
# Ground the buzzer pin to prevent stray voltages causing an audible "whine"
#[static_digital_output buzzer]
#pins: !P1.30

# Z height probe. One may define this section to enable Z height
# probing hardware. When this section is enabled, PROBE and
# QUERY_PROBE extended g-code commands become available. The probe
# section also creates a virtual probe:z_virtual_endstop pin. One may
# set the stepper_z endstop_pin to this virtual pin on cartesian style
# printers that use the probe in place of a z endstop.
[probe]
pin: ^P1.25
#   Probe detection pin. This parameter must be provided.
z_offset: 15.50
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
#speed: 5.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
#activate_gcode:
#   A list of G-Code commands (one per line) to execute prior to each
#   probe attempt. This may be useful if the probe needs to be
#   activated in some way. The default is to not run any special
#   G-Code commands on activation.
#deactivate_gcode:
#   A list of G-Code commands (one per line) to execute after each
#   probe attempt completes. The default is to not run any special
#   G-Code commands on deactivation.

[delta_calibrate]
radius: 115
#   Radius (in mm) of the area that may be probed. This is typically
#   the size of the printer bed. This parameter must be provided.
speed: 50
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 20
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#manual_probe:
#   If true, then DELTA_CALIBRATE will perform manual probing. If
#   false, then a PROBE command will be run at each probe
#   point. Manual probing is accomplished by manually jogging the Z
#   position of the print head at each probe point and then issuing a
#   NEXT extended g-code command to record the position at that
#   point. The default is false if a [probe] config section is present
#   and true otherwise.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 131.992541
#*#
#*# [stepper_a]
#*# angle = 209.526696
#*# arm_length = 265.000000
#*# position_endstop = 292.998217
#*#
#*# [stepper_b]
#*# angle = 330.019705
#*# arm_length = 265.000000
#*# position_endstop = 292.439414
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 265.000000
#*# position_endstop = 293.764311
#*#
#*# [delta_calibrate]
#*# height0 = 15.5
#*# height0_pos = 22197.000,22153.000,22262.000
#*# height1 = 15.5
#*# height1_pos = 27508.000,27505.000,19520.000
#*# height2 = 15.5
#*# height2_pos = 21661.000,30812.000,21761.000
#*# height3 = 15.5
#*# height3_pos = 19556.000,26604.000,26703.000
#*# height4 = 15.5
#*# height4_pos = 21521.000,21457.000,27980.000
#*# height5 = 15.5
#*# height5_pos = 25863.000,19651.000,25892.000
#*# height6 = 15.5
#*# height6_pos = 29254.000,21524.000,21641.000
